<template>
    <div class="date-range">
        <date-picker v-model="time2" range :shortcuts="shortcuts" lang="en" :not-after="date"></date-picker>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'

    export default {

        components: {DatePicker},

        data: function () {
            const today = new Date();


            return {
                shortcuts: [
                    {
                        text: 'Previous 7 days',
                        start: new Date(Date.now() - 3600 * 1000 * 24 * 7),
                        end: new Date()
                    },
                    {
                        text: 'Previous 30 days',
                        start: new Date(Date.now() - 3600 * 1000 * 24 * 30),
                        end: new Date()
                    }
                ],
                time1: '',
                time2: '',
                date: new Date()
            }
        }
    }
</script>

<style scoped>

</style>