
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/**********************************************************************************************/
/*  Detailed List Row   */
/*********************************************************************************************/

.detailsTable{
  width: 100%;
  margin-left: 3rem;
}

.manage {
  .box-header {
    &.with-border {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .edit-button {
    margin-left: auto;
  }
}


